@keyframes cloud_left {
    0% {
        transform: translateX(-130px) scale(0.68);
    }
    50% {
        transform: translateX(-250px) scale(0.68);
    }
    100% {
        transform: translateX(-130px) scale(0.68);
    }
}

@keyframes cloud_right {
    0% {
        transform: translateX(130px) scale(0.68) rotateY(180deg);
    }
    50% {
        transform: translateX(250px) scale(0.68) rotateY(180deg);
    }
    100% {
        transform: translateX(130px) scale(0.68) rotateY(180deg);
    }
}

@keyframes weather-up {
    from {
        opacity: 0;
        transform: translateY(40px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes thunderAnimation {
    0% {
        opacity: 0;
    }
    5% {
        opacity: 1;
    }
    10% {
        opacity: 0;
    }
    15% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes sunRotate {
    to {
        transform: rotate(360deg);
    }
}
