.container {
    max-width: var(--container-width);
    padding: 0 1.5rem;
    margin: 0 auto;
}

.flex {
    display: flex;

    &-ai {
        &\:center {
            align-items: center;
        }
    }

    &-jc {
        &\:space-between {
            justify-content: space-between;
        }
    }
}
