.weather {
    background-color: var(--theme-section-weather);
    color: var(--theme-section-weather-text);
    padding: 3rem 0;
    overflow-x: hidden;

    .container {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &_icon {
    }

    &_svg {
        &_cloud {
            transform: scale(0.7);
            position: relative;

            &\:left {
                position: absolute;
                transform: translateX(-235px) scale(0.5);
            }

            &\:right {
                position: absolute;
                transform: translateX(235px) scale(0.5);
                left: 0;
                top: 0;
            }
        }
    }
}
