.weather {
    background-color: var(--theme-section-weather);
    color: var(--theme-section-weather-text);
    padding: 3rem 0;
    height: 400px;
    overflow: hidden;

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &_icon {
        animation: weather-up 1s ease-out;
    }

    &_info {
        margin-left: 6rem;
        flex: 1;
    }

    &_svg {
        transform: scale(0.6);

        &_cloud {
            position: relative;

            &\:left {
                position: absolute;
                transform: translateX(-235px) scale(0.5);
            }

            &\:right {
                position: absolute;
                transform: translateX(235px) scale(0.5);
                left: 0;
                top: 0;
            }
        }
    }
}
