.weather {
    background-color: var(--theme-section-weather);
    color: var(--theme-section-weather-text);
    padding: 3rem 0;
    min-height: 50rem;
    overflow: hidden;

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;

        @media screen and (max-width: 767px) {
            flex-direction: column;
        }
    }

    &_title {
        font-size: 4rem;
        margin: 0;
        flex: 100%;
        text-align: center;
    }

    &_icon {
        animation: weather-up 1s ease-out;
    }

    &_temp {
        margin-left: 10rem;
        text-align: center;

        &_main {
            display: flex;
            align-items: center;
            line-height: 1;
            font-size: 8rem;
            font-weight: bold;
            justify-content: center;
        }

        &_desc {
            font-size: 1.8rem;

            &::first-letter {
                text-transform: uppercase;
            }
        }

        &_feelsLike {
            font-size: 2rem;
            font-weight: bold;
        }

        &_minMax {
            font-size: 1.8rem;
            font-style: italic;
        }

        @media screen and (max-width: 767px) {
            margin-left: 0;
        }
    }

    &_svg {
        transform: scale(0.9);
        height: 300px;

        &_cloud {
            position: relative;

            &\:left {
                position: absolute;
                transform: translateX(-235px) scale(0.5);
            }

            &\:right {
                position: absolute;
                transform: translateX(235px) scale(0.5);
                left: 0;
                top: 0;
            }
        }
    }

    &_info {
        .container {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
            grid-gap: 1rem;
        }
    }
}
