@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 219.42deg 72.27% 53.33%;
    --background-top: 219.15deg 69.41% 33.33%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 219.42deg 72.27% 53.33%;
    --primary-foreground: 219.42deg 65.61% 40.81%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    background-image: linear-gradient(0, transparent, hsl(var(--background-top)));
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  a {
    @apply text-primary;
  }
  a:hover {
    @apply text-primary-foreground;
  }
}
